<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fup.jennyferlopez.proyectokitetkiwe">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".utils.ElServicio"
            android:enabled="true" />

        <activity android:name=".activities.RegistrarseActivity" />
        <activity android:name=".activities.AvatarActivity" />
        <activity android:name=".fragments.nivelcuatro.LaberintoActivity" />
        <activity android:name=".activities.MenuActivity" />
        <activity android:name=".activities.SimbolosActivity" />
        <activity android:name=".activities.NivelesActivity" />
        <activity android:name=".fragments.niveluno.VocalesActivity" />
        <activity android:name=".fragments.niveluno.Niveles11Activity" />
        <activity android:name=".activities.LogingActivity" />
        <activity android:name=".fragments.niveluno.VocalesColiActivity" />
        <activity android:name=".activities.MusicaActivity" />
        <activity android:name=".activities.ImagenesActivity" />
        <activity android:name=".activities.GlosarioActivity" />
        <activity android:name=".activities.ManualActivity" />
        <activity android:name=".fragments.niveluno.GlobosActivity" />
        <activity android:name=".fragments.nivelcuatro.QuizCuatroActivity" />
        <activity android:name=".fragments.niveluno.QuizVocalesActivity" />
        <activity android:name=".fragments.niveluno.ConcenVocalesActivity" />
        <activity android:name=".fragments.niveldos.Nivel24Activity" />
        <activity android:name=".fragments.niveluno.Niveles13Activity" />
        <activity android:name=".fragments.nivelcuatro.UnirNumerosUnoActivity" />
        <activity android:name=".fragments.niveldos.ConsonantesActivity" />
        <activity android:name=".fragments.niveldos.Nivel21Activity" />
        <activity android:name=".fragments.niveldos.SonidoCorreActivity" />
        <activity android:name=".fragments.niveluno.Niveles12Activity" />
        <activity android:name=".fragments.niveldos.CompletaPalabraActivity" />
        <activity android:name=".fragments.niveldos.CompTrenActivity" />
        <activity android:name=".fragments.niveldos.Nivel23Activity" />
        <activity android:name=".fragments.niveluno.VocalAImagenActivity" />
        <activity android:name=".fragments.niveldos.ConcenConsonanActivity" />
        <activity android:name=".fragments.niveldos.Nivel22Activity" />
        <activity android:name=".fragments.nivelcinco.Nivel5Activity" />
        <activity android:name=".fragments.niveltres.ColoresActivity" />
        <activity android:name=".fragments.niveltres.Niveles31Activity" />
        <activity android:name=".fragments.niveltres.ColiColoresActivity" />
        <activity android:name=".fragments.niveltres.ColorCorresActivity" />
        <activity android:name=".fragments.niveltres.ColorCorres2Activity" />
        <activity android:name=".fragments.niveltres.ColorCorres3Activity" />
        <activity android:name=".fragments.niveltres.Nivel32Activity" />
        <activity android:name=".fragments.niveltres.ConcenColoresActivity" />
        <activity android:name=".fragments.niveltres.Niveles33Activity" />
        <activity android:name=".fragments.niveltres.Niveles34Activity" />
        <activity android:name=".fragments.niveltres.SopaColoresActivity" />
        <activity android:name=".fragments.niveltres.Nivel3Activity" />
        <activity android:name=".fragments.nivelcuatro.Nivel4Activity" />
        <activity android:name=".fragments.nivelcuatro.Nivel41Activity" />
        <activity android:name=".fragments.nivelcuatro.Nivel43Activity" />
        <activity android:name=".fragments.nivelcuatro.Nivel42Activity" />
        <activity android:name=".fragments.nivelcuatro.NumerosActivity" />
        <activity android:name=".fragments.niveldos.Nivel2Activity" />
        <activity android:name=".fragments.nivelcuatro.UnirPuntosActivity" />
        <activity android:name=".fragments.nivelcuatro.SonCorresNumActivity" />
        <activity android:name=".fragments.nivelcuatro.Nivel44Activity" />
        <activity android:name=".fragments.niveldos.QuizConsonActivity" />
        <activity android:name=".fragments.niveldos.CompTren2Activity" />
        <activity android:name=".fragments.niveldos.CompTren3Activity" />
        <activity android:name=".fragments.niveldos.CompTren4Activity" />
        <activity android:name=".fragments.niveldos.CompletaPalabra2Activity" />
        <activity android:name=".fragments.niveluno.Niveles14Activity" />
        <activity android:name=".fragments.niveluno.QuizUnoActivity" />
        <activity android:name=".fragments.niveldos.QuizDosActivity" />
        <activity android:name=".fragments.niveltres.QuizTresActivity" />
        <activity android:name=".fragments.niveltres.HuevosCol2Activity" />
        <activity android:name=".fragments.niveltres.HuevosCol3Activity" />
        <activity android:name=".fragments.nivelcuatro.NumCorres2Activity" />
        <activity android:name=".fragments.nivelcuatro.NumCorres3Activity" />
        <activity android:name=".fragments.nivelcuatro.CambiarCorre2Activity" />
        <activity android:name=".fragments.nivelcuatro.CambiarCorres3Activity"></activity>
    </application>

</manifest>